.formCont{
    width: 300px;
    border: 1px solid gray;
    padding: 20px;
    margin: 0 auto;
    margin-top: 40px;

}
.formgroup,label {
    margin-bottom: 10px;
    padding: 1%;
    margin: 0;
    font-weight: bold;
   
}
/* Este serve para alinhar o box dos input, todos na mesma margen */
label{
    display: block;
    margin-bottom: 5px;
}
input{
    width:calc(100% - 12px);
    padding: 5px;
    border: 1px solid rgb(23, 22, 22)
}
button{
    padding: 10px;
    background-color: rgb(228, 178, 49);
    color: white;
    font-weight: bold;
    margin-top: 20px;
    font-size: larger;

}
button:hover{
    background-color: rgb(134, 125, 113);
}

.error{
color: red;
font-size: 14px;
margin: 5px;
}
/* Para ficar responsivo usamos esse codigo */

@media screen and (max-width:600px) {
    .formCont{
        width:90%
    }
}


