.button-group {
  margin-top: 2%;
  margin-left: 35%;
}

.button-group button {
  margin-right: 2%;
  padding: 8px 16px;
  border: none;
  background-color: #dcefdf;
  color: #3f0303;
  font-size: 16px;
  cursor: pointer;
}

.button-group button:hover {
  background-color: #557ba4;
}
#difbtn{
  background-color: #dcefdf;
  padding: 8px 16px;
  margin-top: 20px;
  margin-left: 650px;
}