nav{
  background-color: rgb(45, 145, 90);
  color: aliceblue;
  }
  
  ul{
    list-style-type: none;
    padding: 10px;
  }
  li{
    display: inline;
    margin-left: 20px;
    text-decoration: solid;
  }
  a{
    color: rgb(220, 220, 232);
  }
  a:hover{
    text-decoration: underline;
    background-color: rgb(91, 171, 71);
   
  }
  
  